body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card {
    /*These 3 lines center the card and make it a set width within the browser*/
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: rgb(198, 224, 240);
    color: #222222;
    border-bottom: 6px solid #a7bdc5;

}

.avatar {width: 150px;
    border: 1px solid #222222;
    filter: drop-shadow(8px 8px 4px #6e6e6e);
/*syntax for filter; drop-shadow
    drop-shadow(offset-x offset-y blur-radius color)*/
    animation-name: image-shadow;
    animation-duration: 2s;
}

@keyframes image-shadow {
    from {filter: drop-shadow(0px 0px 0px #6e6e6e);}
    to {filter: drop-shadow(8px 8px 4px #6e6e6e);}
}



